/* Reset de estilos padrão do navegador */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Estilo do corpo do site */
body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #ff6600;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #fff;
}

/* Estilo dos produtos */
.produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.produto h2 {
    font-size: 24px;
    margin-top: 10px;
}

.produto p {
    font-size: 16px;
    margin: 10px 0;
}

.produto span {
    font-size: 20px;
    font-weight: bold;
    color: #ff6600;
}

.produto button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
/* Estilo da seção de contato */
.contato {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.contato h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.contato p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.contato form {
    max-width: 400px;
    margin: 0 auto;
}

.contato label {
    display: block;
    margin-bottom: 5px;
}

.contato input[type="text"],
.contato input[type="email"],
.contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contato button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilo para links no rodapé */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
